* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: arial, sans-serif;
    color: #221F51;
}

.wrapper {
    font-size: 1.6em;
    padding: .5em;
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

.sb-item {
    height: 34px;
    list-style: none;
    margin-bottom: 21px;
}

.sb-icon-list {
    margin-bottom: 60px;
}

.list-span {
    display: inline-block;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 1.4em;
}

#social-title {
    display: block;
    border-bottom: 1px dashed #221F51;
    width: 143px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.social-icons {
    padding-right: 7px;
}

aside {
    float: left;
    margin-right: 35px;
}

main {
   float: right;
}

.experience-block {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.experience {
    display: inline-block;
    width: 100%;
    margin-right: 16px;
}

.experience-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


@supports (display: grid){
    body {
        display: grid;
        grid-template-columns: minmax(200px, 1.5fr) 9fr;
        grid-template-rows: 150px auto 100px;
        grid-template-areas: "header header"
                             "nav    content"
                             "footer footer";

    }
}

@supports (display: grid){
    .main-content {
        flex: 1;
        grid-area: content;
        padding-bottom: 10px;
    }

}

@supports (display: grid){
    header {
        grid-area: header;
    }
}

@supports (display: grid){
    nav {
        padding: 5px;
        grid-area: nav;
    }
}

#menu {
    cursor: pointer; 
    padding: 10px 35px 16px 0px;
}

#menu span, #menu span:before, #menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}

#menu span:before {
  top: -10px; 
}

#menu span:after {
  bottom: -10px;
}

#menu span, #menu span:before, #menu span:after {
  transition: all 500ms ease-in-out;
}

#menu.active span {
  background-color: transparent;
}

#menu.active span:before, #menu.active span:after {
  top: 0;
}

#menu.active span:before {
  transform: rotate(45deg);
}

#menu.active span:after {
  transform: rotate(-45deg);
}

.nav-list {
    list-style-type: none;
}

.nav-list-item {
    padding: 10px;
}

hr {
    height: 0px;
    max-height: 0px;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:visited {
    color:darkgrey;
    text-decoration: none;
}

a:active {
    color:darkgrey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button-link:link {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: dimgray;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.button-link:hover {
    background-color: lightgrey;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Roboto", sans-serif;
    padding: 5px;
}

li {
    font-family: "Roboto", sans-serif;
}

.body-content-container {
    background: #eaedf2;
    border-radius: 5px;
}

.content-heading {
    padding: 5px;
}

.tech-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.skills {
    display: table-cell;
}

.education {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.qualifications {
    display: table-cell;
}

.content-container {
    background-color: #eaedf2;
    padding: 10px;
    border-radius: 5px;
}

h3.content-heading {
    padding: 0px;
}

.content-links-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.content-link-container{
    display: table-cell;
}

footer {
    background-color: #eaedf2;
    border-radius: 5px;
    padding-top: 10px;
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-content-container {
   margin: 10px;
   padding: 20px;
   display: table-cell;
}
*/