* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: arial, sans-serif;
    color: #221F51;
}

.wrapper {
    font-size: 1.6em;
    padding: 2em;
    margin: 0 auto;
    width: 990px;
    background-color: white;
}

.sb-item {
    height: 62px;
    width: 48px;
    list-style: none;
    margin-bottom: 0px;
    padding-top: 50px;
    display: inline;
    margin-left: 35px;
}

.sb-icon-list {
    margin-bottom: 50px;
    width: 540px;
    display: inline-block;
}

.list-span {
    display: inline-block;
    padding-left: 0px;
    padding-top: 8px;
    font-size: 1.4em;
}

#social {
    display: none;
}

.experience {
    display: inline-block;
    width: 164px;
    margin-right: 16px;
}

.experience-title {
    margin-top: 10px;
    margin-bottom: 10px;
}