html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
    display: grid;
    grid-template-columns: minmax(200px, 3fr) 9fr;
    grid-template-rows: 150px auto 100px;
    grid-template-areas: "header header"
                         "nav    content"
                         "nav    footer";

}

.main-content {
    flex: 1;
    grid-area: content;
}

header {
    grid-area: header;
}

nav {
    padding: 5px;
    grid-area: nav;
}

.nav-list {
    list-style-type: none;
}

.nav-list-item {
    padding: 10px;
}

.navigation-link {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: dimgray;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.navigation-link:hover {
    background-color: lightgrey;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Roboto", sans-serif;
    padding: 5px;
}

li {
    font-family: "Roboto", sans-serif;
}

.body-content-container {
    background: #eaedf2;
    border-radius: 5px;
}

.content-heading {
    padding: 5px;
}

footer {
    background-color: #eaedf2;
    border-radius: 5px;
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-content-container {
   margin: 10px;
   padding: 20px;
   display: table-cell;
}

